%h2 Remove a value

- form_tag "/remove", :method => "delete" do
  %label{ :for => "remove_key" } Key:
  = input_tag :text, :name => "key", :id => "remove_key", :class => "width l"
  = submit_tag "remove"
