%h2 Revision

%ul.naked
  - if @revision.parent
    %li
      Parent:
      %a{ :href => "/#{@revision.parent}" }= @revision.parent
  %li Current: #{@revision.sha}
  - if @revision.child
    %li
      Child:
      %a{ :href => "/#{@revision.child}" }= @revision.child
