- content_for :header do
  %h1= link_to "Explore the <strong>Git Store API</strong>", "/"
  %p
    My API allows you to access all my features via HTTP.

%h3 Store values
%pre
  %code
    :preserve
      Request: POST
      URL: http://localhost:4567/api
      Params: { :value => "my first value" }

%p Returns a key for you to retrieve the value.

%h3 Update values
%pre
  %code
    :preserve
      Request: PUT
      URL: http://localhost:4567/api
      Params: { :key => "b806319115324c60d67eba7454007ddb27479616", :value => "my first value" }
%p Returns the new revision.

%h3 Retrieve values
%pre
  %code
    :preserve
      Request: GET
      URL: http://localhost:4567/api/:key
%p Returns the value for the given key.

%h3 Retrieve values from a specific revision
%pre
  %code
    :preserve
      Request: GET
      URL: http://localhost:4567/api/:revision/:key
%p Returns the value for the given key and revision.

%h3 Remove values
%pre
  %code
    :preserve
      Request: DELETE
      URL: http://localhost:4567/api/:key
%p Returns the new revision.
