- content_for :header do
  %h1= link_to "Ups, <strong>#{params[:revision][0, 6]}</strong> not found", "/"
  %p I looked everywhere and I just can't find that revision.

%h2 So what now?
%ul
  %li Go back to the #{link_to("homepage", "/")}
  %li or discover the #{link_to("API", "/api")}
